@import es.uniovi.asw.infraestructura.model._ 

@(user: User)

<!DOCTYPE html>

<html>
    <head>
        <title>Estadisticas</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css ")">
        
		<script type="text/javascript">
			window.onload = function() {
			var usuario = document.getElementById('user');
			
			};
		</script>
		
    </head>
    <body>
    	<div align="center">
<img alt="Logo" src='@routes.Assets.at("images/logoTrivial.jpg")'>
<h1>Estad&iacute;sticas</h1>
		<ul>
		    <li type="circle"> Partidas perdidas: @user.getnLostGames()</li>
			<li type="circle"> Partidas ganadas:  @user.getnWonGames()</li>
			<li type="circle"> Respuestas acertadas:  @user.getnRightQuestions()</li>
			<li type="circle"> Respuestas falladas:  @user.getnWrongQuestions()</li>
       </ul> 
        <br></br>
<a href="@routes.Application.logout()" onclick="return confirm('Estás a punto de cerrar sesión. \n¿Estás seguro?');">
<input type="button" value="Cerrar sesi&oacute;n" class="btn btn-lg btn-primary"/>
</a>
		</div>
    </body>
</html>
