<html>
<head>
<link rel="stylesheet" media="screen"
	href='@routes.Assets.at("stylesheets/bootstrap.css")'>
</head>
<body>
<div align="center">
<img alt="Logo" src='@routes.Assets.at("images/logoTrivial.jpg")'>
<h1>Has iniciado sesi&oacute;n correctamente</h1>


<span>Puede ver sus estad&iacute;sticas</span>
<br></br>
	<a href="/estadisticas">
		<input type="button" value="Mostrar Estad&iacute;sticas" class="btn btn-lg btn-primary"//>
	</a>
	<br></br>
O iniciar una nueva partida
<br></br>
<a href="@routes.Application.nuevaPartida()">
<input type="button" value="Nueva Partida" class="btn btn-lg btn-primary"/>
</a>


</div>
</body>
</html>