@import es.uniovi.asw.infraestructura.model._;
@(juego: Trivial, coor: String, ndado: String, nacertadas: Int, nfalladas: Int);
<!DOCTYPE html>
<html ng-app="index">
<head>
<title>Trivial 1b</title>
<link rel="stylesheet" media="screen"
	href='@routes.Assets.at("stylesheets/bootstrap.css")'>

<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>



<script type="text/javascript">

var ws = new WebSocket('ws://localhost:9000/socket');

ws.onmessage = function (e) {
	alert(e.data);
}

var theObj=""; 
var data;
var dado;
var quesito;
var face0 = new Image();
face0.src = "/assets/images/dado1.png";
var face1 = new Image();
face1.src = '/assets/images/dado2.png';
var face2 = new Image();
face2.src = '/assets/images/dado3.png';
var face3 = new Image();
face3.src = '/assets/images/dado4.png';
var face4 = new Image();
face4.src = '/assets/images/dado5.png';
var face5 = new Image();
face5.src = '/assets/images/dado6.png';

function lanzar() {
	var randomdice = Math.round(Math.random() * 5);
	document.images["dado"].src = eval("face" + randomdice  + ".src");
	dado = randomdice;
	ws.send(randomdice+1);
	
	$.ajax(
	       { url:"@routes.Application.tablero()",
	       data: {
                'ndado' : randomdice
            },
            dataType: 'json',
	         success: function(data){
	      	 	
	      	 }
		   });
	
	
	
}



function toolTip(me) { 

theObj=me; 
theObj.onmousemove=updatePos; 

window.onscroll=updatePos; 

	var coorString=window.event.offsetX +"-"+ window.event.offsetY;

	ws.send(coorString);
	
	$('#pieza').css({
		top: window.event.offsetY -20 + 'px',
		left: window.event.offsetX -20 + 'px'
		});
	
	    $.ajax(
	       { url:"@routes.Application.tablero()",
	       data: {
                'coor': coorString
            },
            dataType: 'json',
	         success: function(data){
	      	 
	      	 	
	      	 	if (!data.encontrada) {
	      	 		alert('Casilla no valida');
	      	 		return;
	      	 	} else if(data.quesito) {
	      	 		alert('Quesito de ' + data.categoria + '!!');
	      	 	} else if(data.dado) {
	      	 		lanzar();
	      	 	} else if(data.centro) {
	      	 		
	      	 		//TODO
	      	 	}
	  			
	      	 	
	      	 	
	      	 	$('#campo-enunciado').text(data.enunciado);
	      	 	
      	 		$('#campo-opciones').empty()
	      	 	$(data.opciones).each(function (i) {
	      	 		var correcta = i == data.correcta;
	      	 		$('#campo-opciones')
	      	 			.append('<label><input type="radio" name="opcion" value="' + correcta + '"/>' + this + '</label>');
	      	 	});
	      	 	$('#campo-opciones input').change(function () {
	      	 		console.log(this);
	      	 		if ($(this).val() == 'true') {
	      	 			alert('Correcta');
	      	 			if(data.quesito) {
	      	 				quesito = 'true';
	      	 				cambiaQuesito(data.categoria);
	      	 				
	      	 			} else {
	      	 				quesito = 'false';
	      	 				}
	      	 			
	      	 			
		      	 		$.ajax(
	      	 			       { url:"@routes.Application.sumarAcertadas()"}
	      	 			       );
	      	 			$.ajax(
	      	 			       { url:"@routes.Application.tablero()",
	      	 			       data: {
	      	 		                'categoria': data.categoria,
	      	 		                'respondida': true,
	      	 		                'quesito': quesito
	      	 		            }
	      	 			       });
	      	 		}
	      	 		
	      	 		  
	      	 		
	      	 		else {
	      	 			alert('Incorrecta');
	      	 		    $.ajax(
	      	 			       { url:"@routes.Application.sumarFalladas()"}
	      	 			       );
	      	 			$('#campo-enunciado').empty()
	      	 	
      	 				$('#campo-opciones').empty()
	      	 		}
	      	 	});
	      	 }
		   });
	 

	} 


function cambiaQuesito(categoria) {
	
	if(categoria=='Espectaculos') {
		$('#rosa').css({opacity: 1.0});
		
	} else if(categoria=='Ciencia') {
		$('#verde').css({opacity: 1.0});
	} else if(categoria=='Deportes') {
		$('#naranja').css({opacity: 1.0});
	} else if(categoria=='Historia') {
		$('#amarillo').css({opacity: 1.0});
	} else if(categoria=='Arte y Literatura') {
		$('#marron').css({opacity: 1.0});
	} else {
		$('#azul').css({opacity: 1.0});
		
	}
	
	
}


function updatePos() { 
var ev=arguments[0]?arguments[0]:event; 
var x=ev.clientX; 
var y=ev.clientY; 
diffX=8; 
diffY=8; 
document.getElementById('toolTipBox').style.top = y-2+diffY+document.body.scrollTop+ "px"; 
document.getElementById('toolTipBox').style.left = x-2+diffX+document.body.scrollLeft+"px"; 
theObj.onmouseout=hideMe; 

// Get a reference to the image you want the pixels of and its dimensions
var myImage = document.getElementById('tablero');
var w = myImage.width, h = myImage.height;

// Create a Canvas element
var canvas = document.createElement('canvas');

// Size the canvas to the element
canvas.width = w;
canvas.height = h;

// Draw image onto the canvas
var ctx = canvas.getContext('2d');
ctx.drawImage(myImage, 0, 0,w,h);

// Finally, get the image data
// ('data' is an array of RGBA pixel values for each pixel)
this.data = ctx.getImageData(y-2+diffY+document.body.scrollTop, x-2+diffX+document.body.scrollLeft, w, h);


} 
function hideMe() { 
document.getElementById('toolTipBox').style.display="none"; 
} 
</script>



</head>
<body>

	<div class="container">
		<!-- Static navbar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="">Trivial 1b</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/estadisticas">Estadisticas</a></li>

					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="/finpartida"
							onclick="return confirm('Estás a punto de finalizar la partida. \n¿Estás seguro?');">Finalizar
								partida <span class="sr-only">(current)</span>
						</a></li>
						<li><a href="@routes.Application.logout()"
							onclick="return confirm('Estás a punto de cerrar sesión. \n¿Estás seguro?');">Cerrar
								sesión</a></li>

					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>

		<!-- Main component for a primary marketing message or call to action -->
		<div class="row">
			<div class="col-md-4">
				<div>
				<ul>
					<li type="circle"> Preguntas acertadas: @nacertadas</li>
					<li type="circle"> Preguntas falladas: @nfalladas</li>
				</ul> 
				</div>

				<button onClick="lanzar()">
					<img src='@routes.Assets.at("images/dado.gif")' name="dado">
				</button>
				<br></br>
				<div class="panel panel-default">
					<label>Pregunta</label>
					<div class="panel-heading" id="campo-enunciado"></div>
					
					<div class="panel-body" id="campo-opciones"></div>
				</div>
				<div class="panel panel-default" id="panel_quesitos">
						<label>Quesitos</label>
						<img src='@routes.Assets.at("images/amarillo.png")'
						id="amarillo" class="quesito" width="60px" height="60px" border="0"
						style="opacity: 0.0;">
						<img src='@routes.Assets.at("images/azul.png")'
						id="azul" class="quesito" width="60px" height="60px" border="0"
						style="opacity: 0.0;">
						<img src='@routes.Assets.at("images/rosa.png")'
						id="rosa" class="quesito" width="60px" height="60px" border="0"
						style="opacity: 0.0;">
						<img src='@routes.Assets.at("images/marron.png")'
						id="marron" class="quesito" width="60px" height="60px" border="0"
						style="opacity: 0.0;">
						<img src='@routes.Assets.at("images/naranja.png")'
						id="naranja" class="quesito" width="60px" height="60px" border="0"
						style="opacity: 0.0;">
						<img src='@routes.Assets.at("images/verde.png")'
						id="verde" class="quesito" width="60px" height="60px" border="0"
						style="opacity: 0.0;">
				</div>
				<br></br>

			</div>
			<div class="col-md-6">
				<p align="center" style="position: relative;">

					<img src='@routes.Assets.at("images/tablero-redondo.jpg")'
						id="tablero" width="714px" height="708px" border="0"
						onclick="toolTip(this);return false"> <img
						src='@routes.Assets.at("images/j1.png")' id="pieza"
						style="position: absolute; top: 335px; left: 335px;">

				</p>
			</div>

			<span id="toolTipBox" width="200"></span>


		</div>

	</div>

</body>
</html>